In [20]:
import pandas as pd

stats = pd.read_csv("data/afl/stats.csv")
players = pd.read_csv("data/afl/players.csv")
games = pd.read_csv("data/afl/games.csv")

#ds=players["displayName"]=="Franklin, Lance"

df=players.loc[players["playerId"]==2005708162]
display (df)
merge_df = pd.merge(players,stats, how="left", on="playerId")
display (merge_df)

# filter by playerId
df=merge_df.loc[merge_df["displayName_x"]=="Franklin, Lance"]
display (df)

display (stats)
#display (players)
#display (games)

       playerId      displayName  height  weight          dob position origin
569  2005708162  Franklin, Lance     199     105  30-Jan-1987  Forward  Perth

,playerId,displayName_x,height,weight,dob,position,origin,gameId,team,year,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power,2021R104,Adelaide,2021,...,0,4,5,0,0,0,0,1,80,-
1,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power,2021R203,Adelaide,2021,...,0,5,2,0,1,1,0,0,64,-
2,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power,2021R303,Adelaide,2021,...,0,6,6,1,1,2,0,0,77,-
3,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power,2021R407,Adelaide,2021,...,0,3,7,0,0,2,0,1,66,-
4,2021661124,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power,2021R507,Adelaide,2021,...,0,7,6,0,0,3,0,0,71,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89465,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-,2012R1902,Western Bulldogs,2012,...,0,4,4,0,0,2,0,2,73,-
89466,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-,2012R2008,Western Bulldogs,2012,...,0,6,6,0,2,0,0,0,75,-
89467,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-,2012R2108,Western Bulldogs,2012,...,0,4,4,1,1,1,1,0,74,-
89468,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-,2012R2207,Western Bulldogs,2012,...,0,9,8,2,1,1,0,1,73,-
89469,2011838967,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-,2012R2309,Western Bulldogs,2012,...,0,2,1,0,0,1,0,0,28,On

,playerId,displayName_x,height,weight,dob,position,origin,gameId,team,year,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
44957,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2021R203,Sydney,2021,...,0,4,6,0,2,0,0,0,74,-
44958,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2021R401,Sydney,2021,...,0,6,4,2,4,1,0,0,92,-
44959,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2021R504,Sydney,2021,...,2,8,7,5,3,0,0,0,86,-
44960,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2021R805,Sydney,2021,...,0,4,2,2,1,1,0,0,80,-
44961,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2021R902,Sydney,2021,...,0,7,6,2,2,4,0,1,83,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45128,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2012R2204,Hawthorn,2012,...,0,8,6,2,4,0,0,1,86,-
45129,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2012R2301,Hawthorn,2012,...,1,6,9,2,4,3,1,3,86,-
45130,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2012QF01,Hawthorn,2012,...,0,11,8,4,5,2,0,2,89,-
45131,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2012PF02,Hawthorn,2012,...,0,9,12,1,2,2,2,2,89,-
45132,2005708162,"Franklin, Lance",199,105,30-Jan-1987,Forward,Perth,2012GF01,Hawthorn,2012,...,0,13,12,4,4,1,1,0,97,-

,gameId,team,year,round,playerId,displayName,gameNumber,Disposals,Kicks,Marks,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,0,4,5,0,0,0,0,1,80,-
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,0,2,3,0,0,0,0,0,23,Off
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,0,5,5,1,0,8,0,0,93,-
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,0,8,6,0,0,7,0,0,84,-
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,0,5,9,3,4,2,0,0,90,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89465,2012R2309,Western Bulldogs,2012,R23,2011838967,"Skinner, Zephaniah",8,2,1,1,...,0,2,1,0,0,1,0,0,28,On
89466,2012R2309,Western Bulldogs,2012,R23,2012833342,"Smith, Clay",16,22,11,5,...,0,6,16,0,0,1,0,0,79,-
89467,2012R2309,Western Bulldogs,2012,R23,2012846405,"Talia, Michael",4,23,14,9,...,0,5,18,0,0,3,4,0,88,-
89468,2012R2309,Western Bulldogs,2012,R23,2011872415,"Wallis, Mitch",25,19,8,2,...,0,9,11,0,0,2,0,0,83,-
89469,2012R2309,Western Bulldogs,2012,R23,2009879614,"Wood, Easton",42,20,13,11,...,0,2,18,0,0,3,1,0,89,-

sdsdfas